<% content_for :title, "Zombie Strategies | Login" %>
<% content_for :meta, "Login to your Zombie Strategies account to update your profile and register for alerts from the zombie civil defense system." %>
<%= stylesheet_link_tag 'sessions/session' %>

<div id="left-content">
	<h1>Log In</h1>
	<br />
	<% form_tag session_path do -%>
	<h2>
		<%= label_tag 'Username' %>
		<%= text_field_tag 'login', @login %>
		<br />
		<%= label_tag 'Password' %>
		<br />
		<%= password_field_tag 'password', nil %>
	</h2>
	<%= label_tag 'remember_me', 'Remember me' %>
	<%= check_box_tag 'remember_me', '1', @remember_me %>
	<br />
	<br />
	<%= submit_tag 'Log in' %>
</div>

<div id="right-content">
	<center><img height="220" width="220" src="/images/zombiedefense.png" /></center>
</div>

<% end -%>
