<p>
  <b>Category:</b>
  <%=h @category_location_profile_membership.category_id %>
</p>

<p>
  <b>Location profile:</b>
  <%=h @category_location_profile_membership.location_profile_id %>
</p>

<p>
  <b>Created at:</b>
  <%=h @category_location_profile_membership.created_at %>
</p>


<%= link_to 'Edit', edit_category_location_profile_membership_path(@category_location_profile_membership) %> |
<%= link_to 'Back', category_location_profile_memberships_path %>