<h1>Listing item_store_memberships</h1>

<table>
  <tr>
    <th>Store</th>
    <th>Item</th>
  </tr>

<% @item_store_memberships.each do |item_store_membership| %>
  <tr>
    <td><%=h item_store_membership.store_id %></td>
    <td><%=h item_store_membership.item_id %></td>
    <td><%= link_to 'Show', item_store_membership %></td>
    <td><%= link_to 'Edit', edit_item_store_membership_path(item_store_membership) %></td>
    <td><%= link_to 'Destroy', item_store_membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_store_membership', new_item_store_membership_path %>