<h1>Listing Zip Demographics</h1>

<table border="1">
  <tr>
    <th>Zip</th>
    <th>Total population</th>
    <th>Total housing units</th>
    <th>Land Area (mi^2)</th>
    <th>Water Area (mi^2)</th>
    <th>Population Density (mi^2)</th>
    <th>(Lat,Lng)</th>
	<th>Source</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% @zip_demographics.each do |zip_demographic| %>
  <tr>
    <td><%=h zip_demographic.zip %></td>
    <td><%=h zip_demographic.total_population %></td>
    <td><%=h zip_demographic.total_housing_units %></td>
    <td><%=h zip_demographic.land_area_square_miles %></td>
    <td><%=h zip_demographic.water_area_square_miles %></td>
	<td><%=h zip_demographic.population_density_square_miles %></td>
    <td>(<%=h zip_demographic.lat %>,<%=h zip_demographic.lng %>)</td>
	<td><%=h zip_demographic.source %></td>
    <td><%= link_to 'Show', zip_demographic %></td>
    <td><%= link_to 'Edit', edit_zip_demographic_path(zip_demographic) %></td>
    <td><%= link_to 'Destroy', zip_demographic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zip Demographic', new_zip_demographic_path %>