<% content_for :title, "View Zip Demographic" %>
<% content_for :meta, "A civil defense system against the living dead." %>
<p>
  <b>Zip:</b>
  <%=h @zip_demographic.zip %>
</p>

<p>
  <b>State:</b>
  <%=h @zip_demographic.state_name %>
</p>

<p>
  <b>Total Population:</b>
  <%=h @zip_demographic.total_population %>
</p>

<p>
  <b>Total Housing Units:</b>
  <%=h @zip_demographic.total_housing_units %>
</p>

<p>
  <b>Land Area Square Miles:</b>
  <%=h @zip_demographic.land_area_square_miles %>
</p>

<p>
  <b>Water Area Square Miles:</b>
  <%=h @zip_demographic.water_area_square_miles %>
</p>

<p>
  <b>Population Density Square Miles:</b>
  <%=h @zip_demographic.population_density_square_miles %>
</p>

<p>
  <b>Lat:</b>
  <%=h @zip_demographic.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @zip_demographic.lng %>
</p>

<p>
  <b>Lng:</b>
  <%=h @zip_demographic.source %>
</p>


<%= link_to 'Edit', edit_zip_demographic_path(@zip_demographic) %> |
<%= link_to 'Back', zip_demographics_path %>