<h1>Editing Store</h1>

<% form_for(@store) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :store %><br />
    <%= f.text_field :store %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<h4>
	<%= link_to 'Show', @store %> |
	<%= link_to 'Back', stores_path %>
</h4>