<DIV id="wrap">
<DIV id="header">

<DIV id="topmenu">

<table border="0">
	<tr>
		<td>
			<img src="../images/links.png" style="float:right; padding:0px 0px 0px 0px;" usemap="#headermap" border=0/>

			<map name="headermap">
			  <area shape="RECT" coords="7,17,60,40" href="<%= homes_path %>" alt="Zombies!" />
			  <area shape="RECT" coords="76,17,154,40" href="<%= twitter_trends_path %>" alt="Monitor" />
			  <area shape="RECT" coords="171,17,237,40" href="<%= homes_path %>" alt="Alert System" />
			  <area shape="RECT" coords="255,17,301,40" href="<%= homes_path %>" alt="Disaster Plan" />
			  <area shape="RECT" coords="318,17,375,40" href="<%= homes_path %>" alt="About Zombie Strategy" />
			</map>
		</td>

		<td>
			<img src="../images/zombielogo.png" style="float:right; padding:4px 0 18px 5px; " />
		</td>
	</tr>
</table>

</DIV>

<DIV id="header2"></DIV>

<DIV class="post">

<DIV id="featured">
<DIV>

<H4>Welcome...<SPAN class="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to the prototype page for Zombie Strategy.</SPAN></H4>
	<H2>Content comming soon....</H2>
	
	<div id="map" style="width: 600px; height: 400px"></div>

    <P>&nbsp;</P>
<H4>Current Issues:</H4>

    <H2> Absolute linking with CSS</H2>

    <H2> General font changes</H2>

</DIV>
</DIV>
<DIV id="footer2"></DIV>
<DIV id="bottom">
<P><A href="http://fribblesoft.com/" style="color: #FD5000">Copyright © 2009 Fribblesoft</A></P>
<P><A href="zombie.html" style="color: #FD5000">Home</A> | <A href="monitor.html" style="color: #FD5000">Monitor</A> | <A href="alerts.html" style="color: #FD5000">Alerts</A>  | <A href="plan.html" style="color: #FD5000">Plan</A>  | <A href="http://fribblesoft.com/aboutus.html" style="color: #FD5000">About</A>  </P>
</DIV>
</DIV>

<DIV id="footer">
</DIV>


</DIV>

<!-- Page developed by Luke Harvey: lrharvey.com -->