<p>
  <b>Store:</b>
  <%=h @store.store %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @store.lat %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @store.lng %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>