<% content_for :title, "Zombie Strategies | Contact" %>
<% content_for :meta, "Contact Zombie Strategies. Drop us a line, we want to hear from you!" %>
<%= stylesheet_link_tag 'information/contact' %>
<div id="done-message" style="display:none;"><center><h1>Please wait while your message is being sent.</h1><br /><img src="/images/ajax-loader-long.gif" alt="" /></center></div>
<div id="left-side">
	<div id="message"></div>
	<div id="form">
		<% form_tag('/notifications/create',:name => 'contact_form', :method=>'post', :onsubmit => 'javascript:return validate();') do %>
	 	<p>
	   		<h1>Name:</h1>
	   		<%= text_field("contact", "name") %>
	 	</p>
	 	<p>
  			<h1>Email:</h1>
   			<%= text_field("contact", "email_address") %>
	 	</p>
	 	<p>
	   		<h1>Message:</h1>
	   		<%= text_area("contact", "message", :size => "55x10") %>
	 	</p>
	 	<p>
	   		<br />
	   		<%= submit_tag 'Send Message' %>
	 	</p>
		<% end %>
	</div>
</div>

<div id="right-side">
	<h2>Drop us a line, we want to hear from you!</h2>
	<br /><br />
	<img src="/images/last-stand.png" width="400" height="237" border="0" alt="The Last Stand" />
</div>

<script type="text/javascript">
function validate() {
   // clear old messages
   document.getElementById("message").innerHTML = '';
   // check a name exists
   if (document.contact_form.contact_name.value == "")
   {
       document.getElementById("message").innerHTML = '<div class="error-container"><div class="notification"></div><div class="notification-message"><h4>Please enter your name.</h4></div><br /><br /><br /><br /></div>';
       return false;
   }
   // check an email exists
   if (document.contact_form.contact_email_address.value == "")
   {
       document.getElementById("message").innerHTML = '<div class="error-container"><div class="notification"></div><div class="notification-message"><h4>Please enter your email address.</h4></div><br /><br /><br /><br /></div>';
       return false;
   }
   // check email is valid
   var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
   var address = document.contact_form.contact_email_address.value;
   if(reg.test(address) == false) 
   {
      document.getElementById("message").innerHTML = '<div class="error-container"><div class="notification"></div><div class="notification-message"><h4>Invalid email address.</h4></div><br /><br /><br /><br /></div>';
      return false;
   }
   // check there is a message
   if (document.contact_form.contact_message.value == "")
   {
       document.getElementById("message").innerHTML = '<div class="error-container"><div class="notification"></div><div class="notification-message"><h4>Please enter your message.</h4></div><br /><br /><br /><br /></div>';
       return false;
   }
   // looks good enough
   document.getElementById('left-side').style.display = 'none';
   document.getElementById('right-side').style.display = 'none';
   document.getElementById('done-message').style.display = 'block';
   return true;
}
</script>