<% content_for :title, "Zombie Strategies | Users" %>
<% content_for :meta, "Login to your Zombie Strategies account to update your profile and register for alerts from the zombie civil defense system." %>
<% if @users != nil %>
<h1>User Directory (<%= User.all.count %> users)</h1><br />
<% form_tag users_path, :method => 'get' do %>
	<h2>Search Users By Username</h2>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :login => nil %>
	</p>
<% end %>

<h2>Accounts</h2>
<script type="text/javascript" src="/javascripts/sorttable.js"></script>
<table class="sortable" border="1">
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
	<th>Phone</th>
	<th>Twitter</th>
	<th>Latitude, Longitude</th>
	<th>Date Registered</th>
	<th>Administrator</th>
	<th></th>
	<th></th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.first_name %> <%=h user.last_name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.phone %></td>
	<td><%=h user.twitter %></td>
	<% if user.lat != nil && user.lng != nil %><td><%=h user.lat %>, <%=h user.lng %></td><% else %><td></td><% end %>
	<td><%=h user.created_at %></td>
	<% if user.login == "admin"%>
		<td>true</td>
	<% else %>
		<td><%=h user.is_admin %></td>
	<% end %>
	<td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if user.login == "admin"%>
		<td>N/A</td>
	<% else %>
		<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
<br />
<h4><%= link_to 'Create New User', new_user_path %></h4>

<%= will_paginate @users %>

<% else %>
<h1>No Users Found!</h1>
<% end %>