<%= stylesheet_link_tag 'users/update' %>
<h1>Edit User Profile</h1>
<br />
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for(@user) do |f| -%>
<div id="left-form">
<h2>Login Information</h2>
	<br />
	<p>
		<b><%= label_tag 'login', 'Username' %></b>
		<br/>
		<%= f.text_field :login %>
		<br />
		<b><%= label_tag 'password', 'Password' %></b>
		<br/>
		<%= f.password_field :password %>
		<br />
		<b><%= label_tag 'password_confirmation', 'Confirm Password' %><br/></b>
		<%= f.password_field :password_confirmation %>
	</p>
	
	<% if authorized? %>
		<% if @user.login == "admin"%>
			<p>
    			<b>This account is the default admin user.</b>
  			</p>
		<% else %>
			<p>
    			<b>This account has administrative privileges.</b>
  			</p>
		<% end %>
	<% end %>
</div>

<div id="right-form">
<h2>Contact Information</h2>
	<br />
  	<p>
    	<b><%= label_tag 'first_name', 'First Name' %></b>
		<br />
    	<%= f.text_field :first_name %>
		<br />
    	<b><%= label_tag 'last_name', 'Last Name' %></b>
		<br />
		<%= f.text_field :last_name %>
		<br />
		<b><%= label_tag 'email', 'Email' %></b>
		<br/>
		<%= f.text_field :email %>
		<br />
    	<b><%= label_tag 'phone', 'Phone' %></b> (optional, currently limited to the United States only)
    	<%= f.text_field :phone %>
		<br />
    	<b><%= label_tag 'twitter', 'Twitter' %></b> (optional, requires following <a href="http://twitter.com/ZombieStrategy">ZombieStrategy</a> on Twitter)
		<br />
    	<i>http://twitter.com/</i><%= f.text_field :twitter, "size" => 17 %>
  	</p>
</div>

<div id="left-form">
	<br />
  	<h2>Location Information</h2><br /> <u><b>Home Location</b></u>
	<br />
	(optional, used to send you relevant information <br />personalized to your area)
	<br />
	<br />
  	<p>
    	<b><%= label_tag 'lat', 'Latitude' %></b>
		<br />
    	<%= f.text_field :lat, :disabled => "disabled" %>
		<br />
    	<b><%= label_tag 'lng', 'Longitude' %></b>
		<br />
    	<%= f.text_field :lng, :disabled => "disabled" %>
  	</p>
	<div id="message"></div>
	<br />
    <%= f.submit 'Update' %>
	<input type="button" value="Cancel" onclick="window.location.href='/'"/>
</div>

<div id="right-form">
	<br />
	<br />
	<script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22maps%22%2C%22version%22%3A%222%22%7D%5D%7D&amp;key=***REMOVED***">
	</script>
	<script type="text/javascript" src="/javascripts/edit_profile.js"></script>

	<div id="map" style="width: 450px; height: 300px"><center><br /><br /><br /><h3>Loading Map...</h3>
		<br />
		<img src="/images/ajax-loader.gif" alt="Please wait..."/></center></div>
	Search:
	<input id="search" size="30" type="text" value="" onkeypress="return submitEnter(this,event)"/>
	<input type="button" value="Go!" onclick="showAddress(); return false;"/>
</div>
	
<% end -%>