<% if admin? %>
<% form_for(@twitter_trend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :search %><br />
    <%= f.text_field :search %>
  </p>
  <p>
    <%= f.label :threshold %><br />
    <%= f.text_field :threshold %>
  </p>
  <p>
    <%= f.label :resolution %><br />
    <%= f.text_field :resolution %>
  </p>
  <p>
    <%= f.label :scheduled_update %><br />
    <%= f.datetime_select :scheduled_update %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<h4>
	<%= link_to 'Cancel', @twitter_trend %>
</h4>
<% else %>
<h1>Unauthorized Access</h1>
<% end %>