<h3><%= link_to 'Register for Alerts', new_account_path %></h3>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Search</th>
    <th>Threshold</th>
    <th>Resolution</th>
    <th>Scheduled Update</th>
	<th></th>
	<!--<th></th>-->
  </tr>

<% @twitter_trends.each do |twitter_trend| %>
  <tr>
    <td><%=h twitter_trend.name %></td>
    <td><%=h twitter_trend.search %></td>
    <td><%=h twitter_trend.threshold %></td>
    <td><%=h twitter_trend.resolution %></td>
    <td><%=h twitter_trend.scheduled_update %></td>
    <td><%= link_to 'Show', twitter_trend %></td>
    <!--<%= link_to 'Destroy', twitter_trend, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<!--<h4><%= link_to 'Create New Twitter Trend Watch', new_twitter_trend_path %></h4>-->
