<h1>Zombie Threat Detection<h1>
<br />
<h3>Sorry, this service is currently being rebuilt to handle a larger amount of users.</h3>
<br />
<h3>Please feel free to look at the monitor example below.</h3>
<br />
<h3>You can still register for zombie alerts, while you wait for the system to come on line by clicking <%= link_to 'here', '/signup' %>.</h3>
<br />
<table border="1">
  <tr>
    <th>Name</th>
    <th>Search</th>
    <th>Threshold</th>
    <th>Resolution</th>
    <th>Scheduled Update</th>
	<th></th>
	<% if authorized? %>
	<th></th>
	<th></th>
	<% end %>
  </tr>

<% @twitter_trends.each do |twitter_trend| %>
  <tr>
    <td><%=h twitter_trend.name %></td>
    <td><%=h twitter_trend.search %></td>
    <td><%=h twitter_trend.threshold %></td>
    <td><%=h twitter_trend.resolution %></td>
    <td><%=h twitter_trend.scheduled_update %></td>
    <td><%= link_to 'Show', twitter_trend %></td>
	<% if authorized? %>
	<td><%= link_to 'Edit', edit_twitter_trend_path(twitter_trend) %></td>
    <td><%= link_to 'Destroy', twitter_trend, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<% if authorized? %>
<h4><%= link_to 'Create New Twitter Trend Watch', new_twitter_trend_path %></h4>
<% end %>