<h1>Create New Zombie Trend Monitor</h1>

<% form_for(@twitter_trend) do |f| %>
	<%= f.error_messages %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :search %>
	<%= f.text_field :search %>
	<%= f.label :threshold %>
		<%= f.text_field :threshold %>
		<%= f.label :resolution %>
		<%= f.text_field :resolution %>
	<%= f.label :scheduled_update %>
		<%= f.datetime_select :scheduled_update %>
 		<%= f.submit 'Create' %>
<% end %>

<h1><%= link_to 'Cancel', twitter_trends_path %></h1>