<% content_for :title, "Add Twitter Trend" %>
<% content_for :meta, "A civil defense system against the living dead." %>
<h1>Create New Zombie Trend Monitor</h1>

<% form_for(@twitter_trend) do |f| %>
	<%= f.error_messages %>	
	
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :search %><br />
		<%= f.text_field :search %>
	</p>
	<p>
		<%= f.label :threshold %><br />
		<%= f.text_field :threshold %>
	</p>
	<p>	
		<%= f.label :resolution %><br />
		<%= f.text_field :resolution %>
	</p>
	<p>
		<%= f.label :scheduled_update %>
		<%= f.datetime_select :scheduled_update %>
 		<%= f.submit 'Create' %>
	</p>
<% end %>

<h4><%= link_to 'Cancel', twitter_trends_path %></h4>