<h1>Viewing Trend</h1>

<p>
  <b>Search:</b>
  <%=h @twitter_trend.search %>
</p>

<p>
  <b>Threshold:</b>
  <%=h @twitter_trend.threshold %>
</p>

<p>
  <b>Resolution: <%=h @twitter_trend.resolution %> minutes </b>
</p>

<p>
  <b>Scheduled Update:</b>
  <%=h @twitter_trend.scheduled_update %>
</p>

<p>
  <b><%= link_to 'Back', twitter_trends_path %></b><!-- |-->
  <!--<b><%= link_to 'Edit', edit_twitter_trend_path(@twitter_trend) %></b>-->
</p>

<p>
  <i>
    <% if @twitter_trend.twitter_computations.last %>
     Last update was <%= time_ago_in_words(@twitter_trend.twitter_computations.last.created_at) %> ago.
    <% else %>
     <strong>No Data Collected!</strong>
    <% end %>
  </i>
</p>

<% if @twitter_trend.twitter_computations.last %>
<br />
<img src="<%= Gchart.line(:title => "Results for '" + @twitter_trend.search + "' at " + @twitter_trend.twitter_computations.last.created_at.to_s , :data => [@twitter_trend.twitter_computations.all(:order => 'created_at ASC', :limit => 24).map {|p| p = p.rate}], :line_colors => '76A4FB', :background => 'EEEEEE', :chart_background => 'CCCCCC', :max_value => 100, :axis_with_labels => 'x,y', :axis_labels => [@twitter_trend.twitter_computations.all(:order => 'created_at ASC', :limit => 24).map {|p| p = p.created_at.hour.to_s + ':' + p.created_at.min.to_s}, '0|20|40|60|80|100'], :size => '650x350') %>">
<br />
<br />
<br />
<% end %>

<h4>Last 5 Updates</h4>
<table border="1">
  <tr>
    <th>Rate</th>
    <th>Population</th>
    <th>Threat</th>
	<th>Date</th>
	<th>Time Ago</th>
	<!--<th>Edit</th>-->
	<!--<th>Destroy</th>-->
  </tr>

<% @twitter_trend.twitter_computations.all(:order => 'created_at DESC', :limit => 5).each do |twitter_computation| %>
  <tr>
    <td><%=h twitter_computation.rate %></td>
    <td><%=h twitter_computation.population %></td>
    <td><%=h twitter_computation.threat %></td>
	<td><%=h twitter_computation.created_at %></td>
	<td><%= time_ago_in_words(twitter_computation.created_at) %> ago</td>
    <!--<td><%= link_to 'Edit', edit_twitter_computation_path(twitter_computation) %></td>-->
    <!--<td><%= link_to 'Destroy', twitter_computation, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<br />
<br />

<!--
<b>Add New Computation</b>
<% remote_form_for [@twitter_trend, TwitterComputation.new] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :threat %><br />
    <%= f.text_field :threat %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
-->