<h1>Editing Profile For All <%=h @location_profile.name %>'s</h1>
<br />
<% form_for(@location_profile) do |f| %>
	<%= f.error_messages %>
	<br />
	<h2>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</h2>
	<br />
	<p>
		<%= hidden_field_tag "location_profile[category_ids][]", "" %>
		<%= hidden_field_tag "location_profile[product_ids][]", "" %>
		<table border="1">
			<tr>
				<th><b>Categories</b></th>
				<th><b>Products</b></th>
			</tr>
			<% for category in Category.all %>
				<tr>
					<td><%= check_box_tag "location_profile[category_ids][]", category.id, category.location_profiles.include?(@location_profile) %> <b><%=h category.name %></b></td>
					<td>
						<table>
							<tr>
								<th></th>
							</tr>
							<% for product in category.products %>
							<tr>
								<td><%= check_box_tag "location_profile[product_ids][]", product.id, product.location_profiles.include?(@location_profile) %> <b><%=h product.name %></b></td>
							</tr>
							<% end %>
						</table>
					</td>
				</tr>
			<% end %>
		</table>
	</p>
	<br />
	<p>
		<%= f.submit 'Update' %> <input type="button" value="Cancel" onclick="window.location.href='<%= location_profile_path(@location_profile) %>'"/> <input type="button" value="All Locations Map" onclick="window.location.href='<%= locations_path %>'"/>
	</p>
<% end %>