<% content_for :title, "Zombie Strategies | View Location Profile" %>
<h1>Profile for <%=h @location_profile.name %></h1>
<br />
<p>
	<table border="1">
		<tr>
			<th><b>Categories</b></th>
			<th><b>Products</b></th>
		</tr>
		<% for category in Category.all %>
			<tr>
				<td>
					<%= check_box_tag "location_profile[category_ids][]", category.id,
					 category.location_profiles.include?(@location_profile), :disabled => "disabled" %> 
					<b><%=h category.name %></b></td>
				<td>
					<table>
						<tr>
							<th></th>
						</tr>
						<% for product in category.products %>
							<tr>
								<td><%= check_box_tag "location_profile[product_ids][]", product.id,
								 product.location_profiles.include?(@location_profile), :disabled => "disabled" %> 
								<b><%=h product.name %></b></td>
							</tr>
						<% end %>
					</table>
				</td>
			</tr>
		<% end %>
	</table>
</p>
<br />
<p>
	<input type="button" value="Edit Location Profile For <%=h @location_profile.name %>" onclick="window.location.href='<%= edit_location_profile_path(@location_profile) %>'"/>
	<br />
	<input type="button" value="See All Location Profiles" onclick="window.location.href='<%= location_profiles_path %>'"/>
	<br />
	<input type="button" value="Go To Map" onclick="window.location.href='<%= locations_path %>'"/>
</p>