<!-- start header -->
<div id="logo">
	<h1><%= link_to 'Zombie Strategies', homes_path %></h1>
	<h2> »&nbsp;&nbsp; A civil defense system against the living dead</h2>
</div>
<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item"><%= link_to 'Home', homes_path %></li>
			<li><%= link_to 'Alert System', twitter_trends_path %></li>
			<li><%= link_to 'Disaster Plans', homes_path %></li>
			<li><%= link_to 'About', homes_path %></li>
			<li class="last"><%= link_to 'Contact', homes_path %></li>
		</ul>
	</div>
</div>
<!-- end header -->
<div id="wrapper">
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">Editing Twitter Trend Computation</h1>
			<div class="entry">
				<% form_for(@twitter_computation) do |f| %>
				  <%= f.error_messages %>

				  <p>
				    <%= f.label :rate %><br />
				    <%= f.text_field :rate %>
				  </p>
				  <p>
				    <%= f.label :population %><br />
				    <%= f.text_field :population %>
				  </p>
				  <p>
				    <%= f.label :threat %><br />
				    <%= f.text_field :threat %>
				  </p>
				  <p>
				    <%= f.submit 'Update' %>
				  </p>
				<% end %>

				<%= link_to 'Cancel', twitter_trends_path + "/" + @twitter_computation.twitter_trend_id.to_s %>
			</div>
		</div>
		
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li>
				<h2>Announcements</h2>
				<ul>
					<li><%= link_to 'test test test test test test test test test test test test ', homes_path %></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<p id="legal">ZombieStratagies ( c ) 2009. All Rights Reserved. Template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
<!-- end footer -->