<h1>Editing Twitter Computation</h1>

<% form_for(@twitter_computation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :threat %><br />
    <%= f.text_field :threat %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<h4>
	<%= link_to 'Cancel', @twitter_computation.twitter_trend %>
</h4>