<h1>Listing Twitter Computations</h1>

<table border="1">
  <tr>
    <th>Twitter trend</th>
    <th>Rate</th>
    <th>Population</th>
    <th>Threat</th>
	<% if authorized? %>
	<th></th>
	<th></th>
	<% end %>
  </tr>

<% @twitter_computations.each do |twitter_computation| %>
  <tr>
    <td><%=h twitter_computation.twitter_trend_id %></td>
    <td><%=h twitter_computation.rate %></td>
    <td><%=h twitter_computation.population %></td>
    <td><%=h twitter_computation.threat %></td>
	<% if authorized? %>
    <td><%= link_to 'Edit', edit_twitter_computation_path(twitter_computation) %></td>
    <td><%= link_to 'Destroy', twitter_computation, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>