<% if admin? %>
<h1>New  Twitter Computation</h1>

<% form_for(@twitter_computation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :twitter_trend_id %><br />
    <%= f.text_field :twitter_trend_id %>
  </p>
  <p>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :threat %><br />
    <%= f.text_field :threat %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', twitter_computations_path %>
<% else %>
<h1>Unauthorized Access</h1>
<% end %>