<h1>Editing product_location_profile_membership</h1>

<% form_for(@product_location_profile_membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :location_profile_id %><br />
    <%= f.text_field :location_profile_id %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product_location_profile_membership %> |
<%= link_to 'Back', product_location_profile_memberships_path %>