<p>
  <b>Product:</b>
  <%=h @product_location_profile_membership.product_id %>
</p>

<p>
  <b>Location profile:</b>
  <%=h @product_location_profile_membership.location_profile_id %>
</p>

<p>
  <b>Created at:</b>
  <%=h @product_location_profile_membership.created_at %>
</p>


<%= link_to 'Edit', edit_product_location_profile_membership_path(@product_location_profile_membership) %> |
<%= link_to 'Back', product_location_profile_memberships_path %>