<div id="flash-message"></div>
<%= stylesheet_link_tag 'locations/maps' %>
<h1><a name="top"></a>Disaster Plan - <a href="/howto">Need a tutorial?</a></h1>
<br />
<h2>Currently Tracking <%= Location.count %> Supply Locations and <%= LocationProfile.count %> Location Profiles</h2>
<br />
<h3>Search: Address / City / Zip / Etc.</h3><form onsubmit="showAddress(); return false" action="#">
	<input id="search" size="50" type="text" value="" />
	<input type="submit" value="Go!" />
</form>

<div id="message-container">
	<div id="message-box-filler">
		<div id="message"></div>
	</div>
</div>


<script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22maps%22%2C%22version%22%3A%222%22%7D%5D%7D&amp;key=***REMOVED***">
</script>
<script type="text/javascript" src="/javascripts/plan_maps.js"></script>
<script type="text/javascript" src="/javascripts/plan_controls.js"></script>

<br />

<table style="text-align: left;" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>
	<div id="map" class="view" style="width: 675px; height: 400px"><center><br /><br /><br /><h3>Loading Map...</h3><br /><img src="https://s3.amazonaws.com/zs-images/images/ajax-loader.gif" alt="Please wait..."/></center></div>
</td>
<td>
<div id="controls">
<table style="text-align: left;" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>
	<a onmouseover="return handleAddButtonMouseOver()" onmouseout= "return handleAddButtonMouseOut()"
	onmousedown="return handleAddButtonMouseDown()" onmouseup="return handleAddButtonMouseUp()">
	<img name="addButton" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/add_unselected_button.png" width="136" height="37" alt="Add Button"/>
	</a>
</td>
</tr>
<tr>
<td>
	<a onmouseover="return handleModifyButtonMouseOver()" onmouseout= "return handleModifyButtonMouseOut()"
	onmousedown="return handleModifyButtonMouseDown()" onmouseup="return handleModifyButtonMouseUp()">
	<img name="modifyButton" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/modify_unselected_button.png" width="136" height="37" alt="Modify Button"/>
	</a>
</td>
</tr>
<tr>
<td>
	<a onmouseover="return handleRemoveButtonMouseOver()" onmouseout= "return handleRemoveButtonMouseOut()"
	onmousedown="return handleRemoveButtonMouseDown()" onmouseup="return handleRemoveButtonMouseUp()">
	<img name="removeButton" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/remove_unselected_button.png" width="136" height="37" alt="Remove Button"/>
	</a>
</td>
</tr>
<tr>
<td>
	<a onmouseover="return handleTrafficButtonMouseOver()" onmouseout= "return handleTrafficButtonMouseOut()"
	onmousedown="return handleTrafficButtonMouseDown()" onmouseup="return handleTrafficButtonMouseUp()">
	<img name="trafficButton" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/traffic_unselected_button.png" width="136" height="37" alt="Traffic Button"/>
	</a>
</td>
</tr>
<tr>
<td>
	<div id="hint-box-filler">
	<div id="hint-box">
		<p><b>Hint: </b>To get started, you can simply browse the existing supply locations or you can help contribute to the effort by using the buttons above.<br /></p>
	</div>
	</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>

<div id="forms">
	<div id="top-panel">
		<br />
		<div id="new-location-title"><h1><a name="new">New Location</a></h1></div>
		<div id="modify-location-title"><h1><a name="modify">Modify Location</a></h1></div>
		<div id="view-location-title"><h1><a name="view">View Location</a></h1></div>
		<br />
		<script type="text/javascript" src="/javascripts/load_location_profile.js"></script>
		<div id="profile_button">
			<a onclick="promptLoad(); return false;">
				<img name="load_profile_button" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/load_profile_unselected_button.png" width="136" height="37" alt="Load Location Profile"/>
			</a>
		</div>
		<br />
		<b><%= label_tag 'location_location_profile_name', 'Location Type: ' %></b><br />
		<%= text_field_with_auto_complete :location, :location_profile_name, {:size => 30}, 
		{:skip_style => true, :url => location_profiles_path(:text), :method => :get, :param_name => 'search' } %>
		<br />
		<div id="left-panel">
			<%= hidden_field_tag "location[category_ids][]", "" %>
			<%= hidden_field_tag "location[product_ids][]", "" %>
			<table border="1">
				<tr>
					<th><h2>Categories</h2></th>
					<th><h2>Products</h2></th>
				</tr>
				<% for category in Category.all %>
					<tr>
						<td>
							&nbsp;&nbsp;
							<%= check_box_tag "location[category_ids][]", category.id,
							category.locations.include?(@location), { :id => "category_ids_"+ category.id.to_s} %> 
							<b><%=h category.name %></b>
							&nbsp;&nbsp;
						</td>
						<td>
							<table>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
								<tr>
								<% counter = 0 %>
								<% for product in category.products %>
									<% if counter < 4 %>
										<td>
											&nbsp;&nbsp;
											<%= check_box_tag "location[product_ids][]", 
											product.id, product.locations.include?(@location), 
											{ :id => "product_ids_"+ product.id.to_s} %> 
											<b><%=h product.name %></b>
											&nbsp;&nbsp;
										</td>
									<% else %>
										<% counter = 0 %>
										</tr>
										<tr>
											<td>
												&nbsp;&nbsp;
												<%= check_box_tag "location[product_ids][]", 
												product.id, product.locations.include?(@location), 
												{ :id => "product_ids_"+ product.id.to_s} %> 
												<b><%=h product.name %></b>
												&nbsp;&nbsp;
											</td>
									<% end %>
								<% counter = counter + 1 %>
								<% end %>
								</tr>
							</table>
						</td>
					</tr>
				<% end %>
			</table>
			<br />
			<br />
			<h3><label for="location_info">Additional Location Information:</label></h3>
			<textarea cols="60" id="location_info" name="location[info]" rows="5"></textarea>
			<br />
			<br />
			<p>
				<div id="new-location-submit">
					<a onclick="createLocation(); return false;">
						<img name="submit_new_button" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/submit_unselected_button.png" width="137" height="38" alt="Submit"/>
					</a>
				</div>
				<div id="modify-location-submit">
					<a onclick="updateLocation(); return false;">
						<img name="submit_modify_button" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/submit_unselected_button.png" width="137" height="38" alt="Submit"/>
					</a>
				</div>
				<div id="modify-location-button">
					<a onclick="modifyThisLocation(); return false;">
						<img name="submit_modify_button" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/modify_unselected_button.png" width="137" height="38" alt="Submit"/>
					</a>
				</div>
				<br />
				<a onclick="window.location.href='#top'">
					<img name="cancel_button" src="https://s3.amazonaws.com/zs-images/images/location_map_controls/cancel_unselected_button.png" width="136" height="37" alt="Cancel"/>
				</a>
			</p>
			<input id="location_lat" name="location[lat]" type="hidden" />
			<input id="location_lng" name="location[lng]" type="hidden" />
			<input id="selected_marker_id" type="hidden" />
		</div>
	</div>
</div>
