<% content_for :title, "Zombie Strategies | Add Location" %>
<% content_for :meta, "Search for emergency zombie survival supplies near you!  Plan your zombie survival strategy.  Anyone can help contribute missing information!" %>
<%= stylesheet_link_tag 'locations/new' %>
<% form_for(@location) do |f| %>
<%= f.error_messages %>
<br />
<div id="top-panel">
	<div id="left-panel">
		<h1>New Location</h1>
		<br />
		<script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22maps%22%2C%22version%22%3A%222%22%7D%5D%7D&amp;key=***REMOVED***">
		</script>
		<script type="text/javascript" src="/javascripts/add_location.js"></script>
		<script type="text/javascript" src="/javascripts/load_location_profile.js"></script>

		<div id="map" style="width: 450px; height: 300px"><center><br /><br /><br /><h3>Loading Map...</h3>
			<br />
			<img src="../images/ajax-loader.gif" alt="Please wait..."/></center></div>
			<b>Search:</b>
			<input id="search" size="30" type="text" value="" onkeypress="return submitEnter(this,event)"/>
			<input type="button" value=" Go! " onclick="showAddress(); return false;"/>
		</div>

		<div id="right-panel">
			<br />
			<br />
			<br />
			<br />
		<p>
			<b><%= label_tag 'lat', 'Latitude:' %></b><br />
			<%= f.text_field :lat, {:onkeypress => " return clearMarkersOnTyping(this,event);", "size" => 20} %>
			<br />
			<b><%= label_tag 'lng', 'Longitude:' %></b><br />
			<%= f.text_field :lng, {:onkeypress => " return clearMarkersOnTyping(this,event);", "size" => 20} %>
			<br />
			<br />
			<br />
			<input type="button" value="  Load Location Profile  " onclick="promptLoad(); return false;"/>
			<br />
			<b><%= label_tag 'location_profile_name', 'Location Type: ' %></b><br />
			<%= text_field_with_auto_complete :location, :location_profile_name, {:size => 30}, 
			{:skip_style => true, :url => location_profiles_path(:text), :method => :get, :param_name => 'search' } %>
			<br />
		</p>
	</div>
</div>
	<div id="message"></div>
	<br />
	<br />
	<p>
	<%= hidden_field_tag "location[category_ids][]", "" %>
	<%= hidden_field_tag "location[item_ids][]", "" %>
	<table border="1">
		<tr>
			<th><b>Categories</b></th>
			<th><b>Items</b></th>
		</tr>
		<% for category in Category.all %>
			<tr>
				<td><%= check_box_tag "location[category_ids][]", category.id,
					category.locations.include?(@location), { :id => "category_ids_"+ category.id.to_s} %> 
					<b><%=h category.name %></b></td>
				<td>
					<table>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
						<% counter = 0 %>
						<% for item in category.items %>
							<% if counter < 4 %>
								<td>
									&nbsp;&nbsp;
									<%= check_box_tag "location[item_ids][]", 
									item.id, item.locations.include?(@location), 
									{ :id => "item_ids_"+ item.id.to_s} %> 
									<b><%=h item.name %></b>
									&nbsp;&nbsp;
								</td>
							<% else %>
								<% counter = 0 %>
								</tr>
								<tr>
									<td>
										&nbsp;&nbsp;
										<%= check_box_tag "location[item_ids][]", 
										item.id, item.locations.include?(@location), 
										{ :id => "item_ids_"+ item.id.to_s} %> 
										<b><%=h item.name %></b>
										&nbsp;&nbsp;
									</td>
							<% end %>
						<% counter = counter + 1 %>
						<% end %>
						</tr>
					</table>
				</td>
			</tr>
		<% end %>
	</table>
	<br />
	<br />
	<b><%= label_tag 'name', 'Name:' %></b><br />
	<%= f.text_field :name, {"size" => 50} %>
	<br />
	<b><%= label_tag 'address', 'Address:' %></b><br />
	<%= f.text_field :address, {"size" => 50} %>
	<br />
	<b><%= label_tag 'city', 'City:' %></b><br />
	<%= f.text_field :city, {"size" => 50} %>
	<br />
	<b><%= label_tag 'state_providence', 'State/Providence:' %></b><br />
	<%= f.text_field :state_providence, {"size" => 50} %>
	<br />
	<b><%= label_tag 'zip', 'Zip:' %></b><br />
	<%= f.text_field :zip, {"size" => 50} %>
	<br />
	<b><%= label_tag 'country', 'Country:' %></b><br />
	<%= f.text_field :country, {"size" => 50} %>
	<br />
	<br />
	
	<h3>Please classify this location.  Choose the classification that best fits this location.</h3>
	<table border="1">
		<tr align="center">
			<% for classification in LocationClassification.all %>
				<th>&nbsp;<%=h classification.name %>&nbsp;</th>
			<% end %>
		</tr>
		<tr align="center">
			<% for classification in LocationClassification.all %>
				<td><img src="<%=h classification.icon %>" alt="<%=h classification.name %> Icon" width="60" heigth="60"/></td>
			<% end %>
		</tr>
		<tr align="center">
			<% for classification in LocationClassification.all %>
				<% if classification.id == 1%>
					<td><input type="radio" name="location[location_classification_id]" value="<%=h classification.id %>" checked></td>
				<% else %>
					<td><input type="radio" name="location[location_classification_id]" value="<%=h classification.id %>"></td>
				<% end %>
			<% end %>
		</tr>
	</table>
	
	<br />
	<br />
	<h3><%= label_tag 'info', 'Additional Information:' %></h3>
	<%= f.text_area :info, {"rows" => 5, "cols" => 60} %>
	<br />
	<br />
	<p>
		<%= f.submit '  Add Location  ' %>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="  Cancel  " onclick="window.location.href='<%= locations_path %>'"/>
	</p>
</p>

<% end %>