<% content_for :title, "View Location" %>
<% content_for :meta, "Search for emergency zombie survival supplies near you!  Plan your zombie survival strategy.  Anyone can help contribute missing information!" %>
<h1>Record for <%=h @location.location_profile.name %> at (<%=h @location.lat %>,<%=h @location.lng %>)</h1>
<br />
<input type="button" value="Edit This <%=h @location.location_profile.name %> Location" onclick="window.location.href='<%= edit_location_path(@location) %>'"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Edit Profile for all <%=h @location.location_profile.name %>'s" onclick="window.location.href='<%= edit_location_profile_path(@location.location_profile) %>'"/><br />
<input type="button" value="Go To Map" onclick="window.location.href='<%= locations_path %>'"/><br />
<br />
<p>
	<table border="1">
		<tr>
			<th><b>Categories</b></th>
			<th><b>Items</b></th>
		</tr>
		<% for category in Category.all %>
			<tr>
				<td>
					<%= check_box_tag "location[category_ids][]", category.id,
					 category.locations.include?(@location),
					 { :id => "category_ids_"+ category.id.to_s, :disabled => "disabled"}%> 
					<b><%=h category.name %></b></td>
				<td>
					<table>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<tr>
						<% counter = 0 %>
						<% for item in category.items %>
							<% if counter < 4 %>
								<td>
									&nbsp;&nbsp;
									<%= check_box_tag "location[item_ids][]", 
									item.id, item.locations.include?(@location),
									{ :id => "item_ids_"+ item.id.to_s, :disabled => "disabled"} %> 
									<b><%=h item.name %></b>
									&nbsp;&nbsp;
								</td>
							<% else %>
								<% counter = 0 %>
								</tr>
								<tr>
									<td>
										&nbsp;&nbsp;
										<%= check_box_tag "location[item_ids][]", 
										item.id, item.locations.include?(@location),
										{ :id => "item_ids_"+ item.id.to_s, :disabled => "disabled"} %> 
										<b><%=h item.name %></b>
										&nbsp;&nbsp;
									</td>
							<% end %>
						<% counter = counter + 1 %>
						<% end %>
						</tr>
					</table>
				</td>
			</tr>
		<% end %>
	</table>
	<br />
	<br />
	<% for classification in LocationClassification.all %>
		<% if classification.id == @location.location_classification.id %>
			<h3><%= classification.name.to_s %></h3>
			<img src="<%= classification.icon.to_s %>" alt="<%= classification.name.to_s %> Icon" width="60" heigth="60"/>
		<% end %>
	<% end %>
	<br />
	<br />
	<h3>Name:</h3>
	<style type="text/css">
		#address {
			width:500px;
			float:left;
			margin:0px;
			padding:5px;
			border-style:solid;
			border-width:1px;
			background-color:white;
		}
	</style>
	<div id="address">
		<%= @location.name.to_s %>, <%= @location.location_classification.name %>
	</div>
	<br />
	<br />
	<h3>Address:</h3>
	<style type="text/css">
		#address {
			width:500px;
			float:left;
			margin:0px;
			padding:5px;
			border-style:solid;
			border-width:1px;
			background-color:white;
		}
	</style>
	<div id="address">
		<%= @location.address.to_s %>, <%= @location.city.to_s %> <br />
		<%= @location.state_providence.to_s %>, <%= @location.zip.to_s %>, <%= @location.country.to_s %>
	</div>
	<br />
	<br />
	<br />
	<h3>Additional Information:</h3>
	<style type="text/css">
		#info {
			width:500px;
			float:left;
			margin:0px;
			padding:5px;
			border-style:solid;
			border-width:1px;
			background-color:white;
		}
	</style>
	<div id="info">
		<% if @location.info != "" %>
			<%= simple_format h(@location.info) %>
		<% else %>
			This location does not have any additional information.
		<% end %>
	</div>
	<br />
	<br />
	<h3>Modification Log:</h3>
	<style type="text/css">
		#modlog {
			width:500px;
			float:left;
			margin:0px;
			padding:5px;
			border-style:solid;
			border-width:1px;
			background-color:white;
		}
	</style>
	<div id="modlog">
		<% if @location.modification_log != "" %>
			<%= simple_format h(@location.modification_log) %>
		<% else %>
			This location does not have any entries in its modification log.
		<% end %>
	</div>
	<br />
	<br />
	<h3>Audit Log:</h3>
	<style type="text/css">
		#auditlog {
			width:500px;
			float:left;
			margin:0px;
			padding:5px;
			border-style:solid;
			border-width:1px;
			background-color:white;
		}
	</style>
	<div id="auditlog">
		<% if @location.audit_log != "" %>
			<%= simple_format h(@location.audit_log) %>
		<% else %>
			This location does not have any entries in its audit log.
		<% end %>
	</div>
</p>
<br />