<h1>Record for <%=h @location.location_profile.name %> at (<%=h @location.lat %>,<%=h @location.lng %>)</h1>
<br />
<input type="button" value="Edit This <%=h @location.location_profile.name %> Location" onclick="window.location.href='<%= edit_location_path(@location) %>'"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Edit Profile for all <%=h @location.location_profile.name %>'s" onclick="window.location.href='<%= edit_location_profile_path(@location.location_profile) %>'"/><br />
<input type="button" value="Go To Map" onclick="window.location.href='<%= locations_path %>'"/><br />
<br />
<p>
	<table border="1">
		<tr>
			<th><b>Categories</b></th>
			<th><b>Products</b></th>
		</tr>
		<% for category in Category.all %>
			<tr>
				<td>
					<%= check_box_tag "location[category_ids][]", category.id,
					 category.locations.include?(@location), :disabled => "disabled" %> 
					<b><%=h category.name %></b></td>
				<td>
					<table>
						<tr>
							<th></th>
						</tr>
						<% for product in category.products %>
							<tr>
								<td><%= check_box_tag "location[product_ids][]", product.id,
								 product.locations.include?(@location), :disabled => "disabled" %> 
								<b><%=h product.name %></b></td>
							</tr>
						<% end %>
					</table>
				</td>
			</tr>
		<% end %>
	</table>
	<br />
	<br />
	<h3>Additional Information:</h3>
	<style type="text/css">
		#info {
			width:500px;
			float:left;
			margin:0px;
			padding:5px;
			border-style:solid;
			border-width:1px;
			background-color:white;
		}
	</style>
	<div id="info">
		<% if @location.info != "" %>
			<%= simple_format h(@location.info) %>
		<% else %>
			This location does not have any additional information.
		<% end %>
	</div>
</p>
<br />