<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <title><%= page_title %></title>
  <meta name="keywords" content="zombie, zombies, living dead, defense, protection, preparation, civil defense, strategies, strategy, google map mashup" />
  <meta name="description" content="A civil defense system against the living dead." />
  <%= stylesheet_link_tag 'style' %>
</head>
	<body>
		<div id="container">
			<div id="title"></div>
			<% if current_user == nil %>
				<div class="unauthenticated-menu-box">
					<ul id="unauthenticated-menu">
						<li id="unauthenticated-menu-1"><a href="/login" title="Login"><span>Login</span></a></li>
						<li id="unauthenticated-menu-2"><a href="/signup" title="Sign up"><span>Sign up</span></a></li>
					</ul>
				</div>
			<% else %>
				<div class="authenticated-menu-box">
					<ul id="authenticated-menu">
						<li id="authenticated-menu-1"><a href="#" title="Profile"><span>Profile</span></a></li>
						<li id="authenticated-menu-2"><a href="/logout" title="Logout"><span>Logout</span></a></li>
					</ul>
				</div>
			<% end %>
			<div class="navigation-box">
				<ul id="navigation">
					<li id="navigation-1"><a href="<%= root_path %>" title="Home"><span>home</span></a></li>
					<li id="navigation-2"><a href="<%= twitter_trends_path %>" title="Monitor"><span>monitor</span></a></li>
					<li id="navigation-3"><a href="<%= stores_path %>" title="Plan"><span>plan</span></a></li>
					<li id="navigation-4"><a href="/store" title="Store"><span>store</span></a></li>
					<li id="navigation-5"><a href="/about" title="About"><span>about</span></a></li>
				</ul>
			</div>
			<div class="divider"></div>
    		<div id="content">
	  			<% if flash[:error] %>
		  			<div class="error">
	      				<p style="color: black"><%= flash[:error] %></p>
	      			</div>
		  		<% end %>
	  			<% if flash[:notice] %>
	  				<div class="notification">
      					<p style="color: black"><%= flash[:notice] %></p>
      				</div>
	  			<% end %>
      			<%= yield %>
    		</div>
    		<div id="footer">
				<center><a href="#">Copyright &#169; Fribblesoft 2010</a></center>
	    		<div class="footer-divider"></div>
				<p>
				<img src="/images/survivors-online.png" alt="Number of suvivors visting this site" /> 
				<!-- start whos.amung.us-->
				<script type="text/javascript" src="http://widgets.amung.us/classic.js"></script>
				<script type="text/javascript">WAU_classic('3x46cf9zybn0')</script>
				<!-- end whos.amung.us-->
				
				<!-- AddThis Button BEGIN -->
				<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=zombiestrategies">
					<img src="/images/spread-the-word.png" width="297" height="29" alt="Bookmark and Share" style="border:0" align="right"/>
				</a>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=zombiestrategies"></script>
				<!-- AddThis Button END -->	
				</p>
    		</div>
		</div>
		<!-- start tynt -->
		<script type="text/javascript">tyntVariables = {"ap":"Read more: "};</script>
		<script type="text/javascript" src="http://tcr.tynt.com/javascripts/Tracer.js?user=ajPKTw8_Gr3RICadbiUt4I&amp;s=32&amp;a=0&amp;lang=en"></script>
		<!-- end tynt -->
	</body>
</html>