<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <title><%= page_title %></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag 'style' %>
  <%= auto_discovery_link_tag :atom, formatted_posts_path(:atom) %>
  <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAABUXUAeX-h5J_DKB_-h8mMBTJQa0g3IQ9GZqIMmInSLzwtGDKaBRDqEKSXZbAVqd7uOHFh7xXuEq9kw"></script>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div id="wraper">
    <div id="header">
		<a href="http://zombiestrategies.com/">
			<img class="links" src="/images/home.png" alt="Home" border=0/>	
		</a>

		<a href="http://zombiestrategies.com/twitter_trends">
			<img class="links" src="/images/monitor.png" alt="Monitor"  border=0/>
		</a>

		<a href="http://zombiestrategies.com/accounts/new">
			<img class="links" src="/images/alerts.png" alt="Alerts" border=0/>
		</a>

		<a href="http://zombiestrategies.com/stores">
			<img class="links" src="/images/plan.png" alt="Plan" border=0/>
		</a>

		<a href="http://fribblesoft.com/zombiebb/index.php">
			<img class="links" src="/images/forum.png" alt="Forum" border=0/>
		</a>

		<a href="http://zombiestrategies.com/about.html">
			<img class="links" src="/images/about.png" alt="About" border=0/>
	 	</a>

		<img class="logo" src="/images/zombielogo.png">
	</div>
    
    <div id="content">
      <% if flash[:notice] %><p style="color: green"><%= flash[:notice] %></p><% end %>
      <%= yield %>
    </div>
    
    <div id="footer">
      <p><a href="http://fribblesoft.com/aboutus.html">Copyright © 2009 Fribblesoft</a></p>
      <p>
        <%= link_to "Home", root_url %> |
        <%= link_to "Monitor", twitter_trends_url %> |
        <%= link_to "Alerts", new_account_path %> |
        <%= link_to "Plan", stores_url %> |
		<a href="http://fribblesoft.com/zombiebb/index.php">Forum</a> |
        <%= link_to "About", root_url %>
      </p>
    </div>
      
  </div>
</body>
</html>