<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <title><%= page_title %></title>
  <meta name="keywords" content="zombie, zombies, living dead, defense, protection, preparation, civil defense, strategies, strategy, google map mashup" />
  <meta name="description" content="A civil defense system against the living dead." />
  <%= stylesheet_link_tag 'style' %>
</head>
	<body>
		<div id="container">
			<div id="title"></div>
			<% if current_user == nil %>
				<div class="unauthenticated-menu-box">
					<ul id="unauthenticated-menu">
						<li id="unauthenticated-menu-1"><a href="/login" title="Login"><span>Login</span></a></li>
						<li id="unauthenticated-menu-2"><a href="/signup" title="Sign up"><span>Sign up</span></a></li>
					</ul>
				</div>
			<% else %>
				<div class="authenticated-menu-box">
					<ul id="authenticated-menu">
						<li id="authenticated-menu-1"><a href="#" title="Profile"><span>Profile</span></a></li>
						<li id="authenticated-menu-2"><a href="/logout" title="Logout"><span>Logout</span></a></li>
					</ul>
				</div>
			<% end %>
			<div class="navigation-box">
				<ul id="navigation">
					<li id="navigation-1"><a href="<%= root_path %>" title="Home"><span>home</span></a></li>
					<li id="navigation-2"><a href="<%= twitter_trends_path %>" title="Monitor"><span>monitor</span></a></li>
					<li id="navigation-3"><a href="<%= stores_path %>" title="Plan"><span>plan</span></a></li>
					<li id="navigation-4"><a href="/store" title="Store"><span>store</span></a></li>
					<li id="navigation-5"><a href="/about" title="About"><span>about</span></a></li>
				</ul>
			</div>
			<div class="divider"></div>
    		<div id="content">
	  			<% if flash[:error] %>
		  			<div class="error">
	      				<p style="color: black"><%= flash[:error] %></p>
	      			</div>
		  		<% end %>
	  			<% if flash[:notice] %>
	  				<div class="notification">
      					<p style="color: black"><%= flash[:notice] %></p>
      				</div>
	  			<% end %>
      			<%= yield %>
    		</div>
    		<div class="divider"></div>
    		<div id="footer">
				<center>
      				<p>
						<a href="#">Copyright &#169; Fribblesoft 2010</a>
					</p>
      				<p>
        				<%= link_to "Home", root_url %> |
        				<%= link_to "Monitor", twitter_trends_url %> |
        				<%= link_to "Plan", stores_url %> |
        				<%= link_to "Store", "/store" %> |
						<a href="#">Forum</a> |
        				<%= link_to "About", "/about" %> |
						<% if current_user == nil %><%= link_to "Login", "/login" %>
						<% else %><%= link_to "Logout", "/logout" %><% end %>
      				</p>
				</center>
    		</div>
		</div> 
	</body>
</html>