<% if admin? %>
<h1>Editing Account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %><br />
    <%= f.text_field :confirm_password %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :lng %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<h3>
	<%= link_to 'Cancel', @account %>
</h3>
<% else %>
<h1>Unauthorized Access</h1>
<% end %>