<% if admin? %>
<h1>Listing Accounts</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Confirm Password</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.username %></td>
    <td><%=h account.password %></td>
    <td><%=h account.confirm_password %></td>
    <td><%=h account.first_name %></td>
    <td><%=h account.last_name %></td>
    <td><%=h account.email %></td>
    <td><%=h account.phone %></td>
    <td><%=h account.twitter %></td>
    <td><%=h account.lat %></td>
    <td><%=h account.lng %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Register New Account', new_account_path %>
<% else %>
<h1>Unauthorized Access</h1>
<% end %>