<h1>Register For Zombie Alerts<h1> 
<h5>(please don't use real information at this point....all information is currently public)<h5>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <h4>Account Login Information</h4>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>

	
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %><br />
    <%= f.password_field :confirm_password %>
  </p>


  <h4>Personal Information</h4>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>


  <h4>Emergency Contact Information</h4>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>


  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
	(optional, currently limited to the United States only.)
  </p>


  <p>
    <%= f.label :twitter %><br />
    <i>http://twitter.com/</i><%= f.text_field :twitter, "size" => 11 %>
	(optional, requires that you are following the <a href="http://twitter.com/ZombieStrategy">ZombieStrategies Twitter</a>)
  </p>


  <h4>Home Information</h4> (currently not implemented, this information will be used to send you relevant information for your area.)
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :lng %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<h3>
<%= link_to 'Cancel', root_path %>
</h3>