<p>
  <b>Username:</b>
  <%=h @account.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @account.password %>
</p>

<p>
  <b>Confirm Password:</b>
  <%=h @account.confirm_password %>
</p>

<p>
  <b>First Name:</b>
  <%=h @account.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%=h @account.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @account.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @account.phone %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @account.twitter %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @account.lat %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @account.lng %>
</p>

<h3>
	<%= link_to 'Edit', edit_account_path(@account) %> |
	<%= link_to 'Done', root_path %>
</h3>